---
import TestStoreComponent from '@/components/TestStoreComponent.svelte';
---

<html>
  <head>
    <title>Hello Store</title>
  </head>
  <body>
    <h1>Testing Store Import</h1>
    <TestStoreComponent client:load />
  </body>
</html>