---
import HelloSvelte5 from '@/components/HelloSvelte5.svelte';
---

<html>
  <head>
    <title>Hello Svelte 5</title>
  </head>
  <body>
    <h1>Testing Svelte 5 State</h1>
    <HelloSvelte5 client:load />
  </body>
</html>