---
import HelloWorld from '@/components/HelloWorld.svelte';
---

<html>
  <head>
    <title>Hello Svelte</title>
  </head>
  <body>
    <h1>Testing Minimal Svelte Component</h1>
    <HelloWorld />
  </body>
</html>