---
import TestStoreInComponent from '@/components/TestStoreInComponent.svelte';
---

<html>
  <head>
    <title>Hello Store in Component</title>
  </head>
  <body>
    <h1>Testing Store Created in Component</h1>
    <TestStoreInComponent client:load />
  </body>
</html>