---
import ProtectedRoute from '../components/core/ProtectedRoute.astro';
import MainLayout from '../layouts/MainLayout.astro';
import NotificationList from '../components/islands/svelte/NotificationList.svelte';

const title = 'Notifications - Greater';
const description = 'View your notifications';
---

<ProtectedRoute>
  <MainLayout title={title} description={description}>
    <div class="h-full">
      <NotificationList client:load />
    </div>
  </MainLayout>
</ProtectedRoute>